@import "includes";

.sidenav-link,
.header-link {
  cursor: pointer;
}

/* HEADER */
.container {
  margin-top: 10px;
}

.header-container {
  border-top: solid 15px $color-background;
  background-color: $color-modal-backdrop;
  box-shadow: 0 -0.8rem 0.5rem 1rem $color-background;
}

.header-navigation {
  background-color: $color-modal-backdrop;
  padding: 20px 0px;
  .header-navigation-item {
    color: $color-background-login;
    text-align: center;
    margin: 0 35px;
    font-size: 18px;
    font-weight: $font-bold;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: $color-modal-backdrop;

    .fa {
      margin-right: 10px;
    }
  }

  .header-login {
    cursor: pointer;
    color: $color-button-deactivated;
    margin: 0 35px;

    .header-login-label {
      padding-left: 5px;
      top: 0.11rem;
      position: relative;
    }

    .header-link-icon {
      font-size: 17px;
    }
  }

  .header-link {
    text-decoration: none;
    outline: none;
    color: inherit;
    display: flex;
    align-items: flex-end;

    &:hover {
      color: $color-background;
    }
  }
}

.borgir-menu-icon {
  cursor: pointer;
  font-size: 30px;
  font-weight: $font-medium;
  color: $color-background-login;
  margin-right: 1rem;
}

.logo {
  cursor: pointer;
  width: 220px;
}

/* SIDENAV */

.sidenav {
  width: 220px;
  background-color: $color-modal-backdrop;
}

.sidenav-header {
  padding-left: 45px;
  padding-top: 60px;
  padding-bottom: 15px;
  color: $color-background;
  background-color: $color-modal-backdrop;
}

.sidenav-body {
  padding-left: 34.5px;
  padding-top: 12px;

  .fa {
    margin-right: 10px;
  }

  .sidenav-navigation-item {
    color: $color-background-login;
    padding-bottom: 3px;
    font-weight: $font-medium;
  }

  .sidenav-login {
    color: $color-background-login;
    padding-top: 15px;

    .sidenav-login-label {
      padding-left: 5px;
      top: 0.11rem;
      position: relative;
    }

    .sidenav-link-icon {
      font-size: 17px;
    }
  }

  .sidenav-link {
    text-decoration: none;
    outline: none;
    color: inherit;
    display: flex;
    align-items: flex-end;

    &:hover {
      color: $color-background;
    }
  }
}

.sidenav-close-icon {
  cursor: pointer;
  float: left;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 20px;
  font-weight: $font-bold;
  color: $color-background-login;

  &:hover {
    opacity: 0.8;
  }
}

.section-title {
  font-weight: $font-bold !important;
  color: $color-background-login;
}

.btn-primary2:hover {
  background-color: rgb(20, 141, 204);
  color: white;
  transition: ease-in-out 0.4s;
}
.btn-primary2 a {
  text-decoration: none;
  color: rgb(31, 52, 105);
  cursor: pointer;
}

@include smartphone {
  .logo {
    width: 320px;
  }
}

@media (max-width: 475px) {
  .logo {
    width: 250px;
  }
}