@import "includes";

body {
  background-color: $color-background;
}

.contaner {
  margin-top: 10rem;
  margin-left: 10%;
  margin-right: 10%;
  > h2 {
    display: flex;
    color: #fff;
    align-content: center;
    justify-content: center;
  }
}

form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  margin: 2rem;

  button {
    margin: 2rem 0 0;
  }
}

pre {
  flex-grow: 1;

  padding: 1rem 2rem;
  border-left: 1px solid gray;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .contaner {
    margin-left: 8%;
    margin-right: 8%;
  }

  pre {
    border-left: none;
    border-top: 1px solid gray;
  }
}

.mat-dialog-actions {
  display: contents;
}
.btn-secondary {
  font-size: 17px;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 4, 83);
  border-radius: 50px;
  border: solid 2px rgb(20, 141, 204);
  padding: 15px 25px;
  cursor: pointer;
  align-items: center;
  align-content: center;
}
.btn-secondary:hover {
  transition: ease-in-out 0.4s;
  background-color: rgb(84, 4, 83);
  color: white;
}

.mat-form-field-label
  .mat-form-field-label-wrapper
  .mat-label
  .mat-form-field-label-wrapper
  .mat-label {
  color: #fff;
}

.mat-icon {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.mat-select .mat-select-value {
  color: #fff;
}

.mat-form-field-should-float {
  color: #fff;
}

/* Angular Material Overrides */
.mat-form-field-label-wrapper {
  color: #fff !important;
}

.input-element {
  color: #fff !important;
}
