@import "includes";

.carousel {
  margin: 0.3em auto;
  z-index: 0 !important;
  max-width: 100%;
  max-height: 50vh;
  display: flex;
  justify-content: center;

  .carousel-cell {
    padding: 0.4rem;
    border-radius: 0.5em;
    border: 2px solid #fff !important;
  }

  .carousel-cells .carousel-cell img,
  .carousel-cells .carousel-cell video {
    justify-content: center;
    width: 80%;
  }

  .carousel-cells .carousel-cell img {
    object-fit: cover !important;
  }

  .carousel-dots {
    display: inline-block;
    margin-bottom: -2rem;

    .carousel-dot {
      width: 12px !important;
      height: 12px !important;
      margin: 4px;
      border-radius: 50% !important;
      border: 2px solid $color-primary;
      border-color: $color-input-border;
      background-color: $color-input-border !important;
      &-active {
        background-color: $color-primary !important;
      }
    }
  }

  .carousel-arrows {
    .carousel-arrow {
      background-color: $color-secondary;
      position: absolute;

      &.carousel-arrow-prev {
        background-image: url(/assets/img/icons/seta-carousel-left.svg);
        left: -20px;
      }

      &.carousel-arrow-next {
        background-image: url(/assets/img/icons/seta-carousel-right.svg);
        right: -20px;
      }

      &.carousel-arrow-next,
      &.carousel-arrow-prev {
        background-size: 10px;
        box-shadow: 0 0 1px 0px $color-secondary;
        background-color: $color-background-login;
        opacity: 1;
      }
    }
  }
}
