<footer>
    <div class="start-box">
        <h1>Inicie um projeto</h1>
        <div>
            <p>Interesado en comenzar algun proyecto nuevo comigo?</p>
            <p>Entra en contacto para iniciar una conversación </p>
        </div>
        <a href="https://api.whatsapp.com/send?phone=5522997311528&text=Vim%20atrav%C3%A9s%20do%20seu%20portf%C3%B3lio%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" target="_blank"><button class="btn-secondary">Entre em contato</button></a>
    </div>
    <div id="footer-informations">
        <div class="logo">
            <img src="./../../../../assets/img/logoAndrea2.svg" width="250px" alt="Logotipo Andrea Montoya">
        </div>
        <div>
            <p>E-mail: tecnicosindependencia@gmail.com</p>
            <p>&#169;Developed by: <strong>Andrea Montoya Ruiz</strong></p>
        </div>
        <div class="is-center">
            <a href="https://www.linkedin.com/in/andrea-montoya-ruiz/" target="_blank"><img src="./../../../assets/img/linkedin.png" class="icon-footer" alt="linkedin"></a>
            <a href="https://github.com/Amontoya1" target="_blank"><img src="./../../../assets/img/github.png" class="icon-footer" alt="github"></a>
        </div>
    </div>
</footer>
