
    <section class="first-section" id="start">
        <div class="introdution">
            <h1>Desenvolvedora Web Full Stack</h1>
            <p>Codifico proyectos de alto nivel y desempeño, buscando siempre transformar ideas e sueños en software!</p>
            <div>
                <a class="button-1" href="https://www.linkedin.com/in/andrea-montoya-ruiz/" target="_blank" mat-raised-button color="primary">LinkedIn</a>
                <a class="button-2" href="https://github.com/Amontoya1" target="_blank" mat-stroked-button color="primary">GitHub</a>
            </div>
        </div>
        <div clas="gifs">
            <img class="gif1" src="./../../../assets/img/psico2.gif" alt="Gif programando">
            <img class="gif2" src="./../../../assets/img/computer-reduced.gif" alt="">
        </div>
    </section>
  
    <section class="about-me" id="about-me">
        <div class="align-center" id="img-me">
            <img src="./../../../assets/img/Andrea03.svg" alt="Cumprimentando">
        </div>
       
        <div class="about-me-inside">
            <h1>Hola! Soy Andrea.</h1>
            <p>
                Desarrolladora Full Stack, fanática de una taza de café, curiosa por naturaleza. Estoy en una transición de carrera desde el 2020, dejando el área de Educación por TI. Siempre dispuesta a aprender y enseñar! Apasionada del código. Siempre inventando formas de mejorar el rendimiento y resolver problemas.
            </p>      
        </div>
    </section>
  <section>
        <amr-habilities-cards></amr-habilities-cards>
    </section> 
    <section>
        <div class="main-section">
            <div class="side-left">
                <h2 class="h2-left">Objetivos</h2>
                <h3 class="h3-left">
                    Ofrecer soluciones de desarrollo de software para ayudar a empresas y personas a lograr sus objetivos y resolver problemas con tecnología</h3>
            </div>
            <div class="side-right">
                <div class="items-right">
                    <h4 id="counter3" #counter3>76mil</h4>
                    <p>Lineas de código que fueron necesarias para desenvolver este Portfolio.</p>
                </div>
                <div class="items-right">
                    <h4 id="counter" #counter>97%</h4>
                    <p>Avaliam o processo de criação de software comigo como excelente.</p>
                </div>
                <div class="items-right">
                    <h4 id="counter2" #counter2>95%</h4>
                    <p>Das empresas no Brasil estão digitalizadas, vai ficar de fora?</p>
                </div>
            </div>
        </div>
    </section> 
   <section>
        <div class="align-center projects-call">
            <img src="./../../../assets/img/computer.gif" alt="Idea" width="290px">
        </div>
        <div id="project-title">
            <h1>Proyectos Realizados</h1>
            <amr-projects></amr-projects>
        </div>
        <div class="repository">
            <div class="inside-repository">
                <h3>Confira também no meu repositório os códigos dos projetos backend e frontend que desenvolvi:</h3>
                <a class="button-1" target="_blank" mat-raised-button color="primary" href="https://github.com/Amontoya1" target="_blank">Ver repositório no Github</a>
            </div>
        </div>
    </section> 
  <section class="section-skills">
        <amr-box-skills></amr-box-skills>
    </section>

  