<section class="first-section" id="start">
        <div class="introdution">
            <h1>Desenvolvedora Web Full Stack</h1>
            <p>Codifico proyectos de alto nivel y desempeño, buscando siempre transformar ideas e sueños en software!</p>
            <div>
                <a class="button-1" href="https://www.linkedin.com/in/andrea-montoya-ruiz/" target="_blank" mat-raised-button color="primary">LinkedIn</a>
                <a class="button-2" href="https://github.com/Amontoya1" target="_blank" mat-stroked-button color="primary">GitHub</a>
            </div>
        </div>
        <aside clas="gifs">
            <img class="gif1" src="./../../../assets/img/psico2.gif" alt="Gif programando">
            <img class="gif2" src="./../../../assets/img/computer-reduced.gif" alt="">
        </aside>
    </section>
    
    <article class="about-me" id="about-me">
        <div class="align-center" id="img-me">
            <img src="./../../../assets/img/Andrea03.svg" alt="Cumprimentando">
        </div>
       
        <div class="about-me-inside">
            <h1>Hola! Soy Andrea.</h1>
            <p>
                Desarrolladora Full Stack, fanática de una taza de café, curiosa por naturaleza. Estoy en una transición de carrera desde el 2020, dejando el área de Educación por TI. Siempre dispuesta a aprender y enseñar! Apasionada del código. Siempre inventando formas de mejorar el rendimiento y resolver problemas.
            </p>      
        </div>
    </article>
  

  