<body>
    

    <div class="conteiner">
            <mat-card class="example-card relative">
                <div class="box-habilities">
                    <img src="../../../assets/img/ux-design.png" class="icons-aboutme" alt="frontend">
                    <h2>Frontend</h2>
                    <p>Capaz de programar, mantener y realizar las correcciones necesarias en programas web y aplicaciones móviles.</p>
                    <h4>Linguagens e ferramentas</h4>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                        </ul>
                </div>
            </mat-card>
            <mat-card class="example-card relative">
                <div class="box-habilities">
                    <img src="../../../assets/img/backend.png"  class="icons-aboutme" alt="backend">
                    <h2>Backend</h2>
                    <p>Desarrollar y administrar componentes de red del lado del servidor (Api), bancos y
                        garantizar una buena capacidad de respuesta a las solicitudes de front-end.</p>
                    <h4>Linguagens e ferramentas</h4>
                        <ul>
                            <li>NodeJs</li>
                            <li>SQL</li>
                            <li>MySQL</li>
                            <li>Postman</li>
                        </ul>
                </div>
            </mat-card>
            <mat-card class="example-card relative">
                <div class="box-habilities">
                    <img src="../../../assets/img/project-management.png" class="icons-aboutme" alt="project management">
                    <h2>Otros</h2>
                    <p>No solamente hard skill, tambien busco desarrollar e elevar mis  soft skill.</p>
                    <h4>Otros tópicos</h4>
                        <ul>
                            <li>Portugues  Intermediario</li>
                            <li>Adaptabilidad</li>
                            <li>Trabajo en Equipo</li>
                            <li>Planejamento</li>
                            <li>Gerenciamento</li>
                            <li>Comunicación</li>
                            <li>Acepta las críticas</li>
                        </ul>
                </div>
            </mat-card>
    </div>
    </body>
